<a href="https://colab.research.google.com/github/abit532568/CSC500/blob/main/CT5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def calculate_average_rainfall():
    years = int(input("Enter the number of years: "))

    rainfall = 0
    months = 0

    for year in range(1, years + 1):
        print(f"\nYear {year}:")

        for month in range(1, 13):
            rain = float(input(f"Enter rain for month {month} (in inches): "))

            rainfall += rain
            months += 1

    average_rainfall = rainfall / months if months > 0 else 0

    print(f"\nTotal number of months: {months}")
    print(f"Total rainfall: {rainfall:.2f} inches")
    print(f"Average rainfall per month: {average_rainfall:.2f} inches")
calculate_average_rainfall()

Enter the number of years: 2

Year 1:
Enter rain for month 1 (in inches): 2.3
Enter rain for month 2 (in inches): 1.2
Enter rain for month 3 (in inches): 3.2
Enter rain for month 4 (in inches): 4.2
Enter rain for month 5 (in inches): 5.3
Enter rain for month 6 (in inches): 2.3
Enter rain for month 7 (in inches): 1.2
Enter rain for month 8 (in inches): 8.5
Enter rain for month 9 (in inches): 6.2
Enter rain for month 10 (in inches): 6.2
Enter rain for month 11 (in inches): 3.2
Enter rain for month 12 (in inches): 1.3

Year 2:
Enter rain for month 1 (in inches): 1.2
Enter rain for month 2 (in inches): 3.2
Enter rain for month 3 (in inches): 5.6
Enter rain for month 4 (in inches): 9.8
Enter rain for month 5 (in inches): 8.9
Enter rain for month 6 (in inches): 5.2
Enter rain for month 7 (in inches): 2.5
Enter rain for month 8 (in inches): 6.3
Enter rain for month 9 (in inches): 1.5
Enter rain for month 10 (in inches): 4.6
Enter rain for month 11 (in inches): 5.4
Enter rain for month 12 (in inches): 5.6

Total number of months: 24
Total rainfall: 104.90 inches
Average rainfall per month: 4.37 inches

In [10]:
bought = int(input("Enter the number of books you purchased this month: "))

if bought == 0:
    point = 0
elif bought == 2:
    point = 5
elif bought == 4:
    point = 15
elif bought == 6:
    point = 30
elif bought >= 8:
    point = 60
else:
    point = 0

print(f"You have earned {point} point.")

Enter the number of books you purchased this month: 4
You have earned 15 point.